name: Osmosis Front-End Preview Deployment
on:
  push:
    branches:
      - main
jobs:
  Deploy-Preview:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deployment via Webhook
        run: curl -X POST ${{ secrets.VERCEL_WEBHOOK_DEPLOY_PREVIEW_URL }}
