on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
name: Pull request workflow
jobs:
  validate_zone_data:
    name: Validate Zone Data
    runs-on: ubuntu-latest
    
    defaults:
      run:
        shell: bash
    
    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: true
          
      - name: Git Sumbodule Update
        run: |
          git submodule update --init --recursive
          git submodule update --recursive --remote
          
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          
      - name: Install dependencies
        run: npm install
          
      - name: Run code to Validate Zone Data
        working-directory: ./.github/workflows/utility
        run: node validate_zone_files.mjs
